@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Raleway;
}

.container {
  max-width: 540px;
  padding: 20px 40px 20px 40px;
  margin-top: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: white;
}

.user-login-div {
  margin-top: 1rem;
}

.user-login-form {
  margin-top: 1rem;
}
.form-control{
  box-shadow: none;
}
input {
  border-radius: 12px;
  margin-top: 8px;
}

.user-login-form input{
  height: 45px;
  /*width: 100%;*/
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-login-form input:focus,
.user-login-form input:valid{
  border-color: #9b59b6;
}


input[type=checkbox]{
  height: 20px !important;
  width: auto;
  margin-top: 0;
}
.form-group + .form-group{
  margin-top: 16px;
}
.textual {
  color: rgb(39, 34, 33);


  padding: 5px;

}

.loginbtn {
  background-color: transparent;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 7px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin: auto;
  border: 1px solid black;
  margin-top: 10px;
  height: 45px;
  margin: 35px 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.loginbtn:hover {
  background-color: rgb(23, 78, 78);
  padding-left: 7%;
  padding-right: 7%;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}
.loginbtn:active{
  transform: scale(1.1);
}
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.fa-linkedin {
  background: #0e76a8;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.fa-windows {
  background: conic-gradient(from -90deg, #F65314 90deg, #7CBB00 90deg 180deg, #FFBB00 90deg 270deg, #00A1F1 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.fa-twitter {
  background-color: #1DA1F2;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.fa-github {
  background-color: #333;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.fa-apple {
  background-color: #16161d;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.fa-google:hover, .fa-linkedin:hover, .fa-windows:hover, .fa-github:hover, .fa-twitter:hover, .fa-apple:hover {
  font-size: 2.5em;
  transition: 1s ease-out;
}

.headbtn1, .headbtn2, .headbtn3 {
  border: none;
  padding: 2% 20px 2% 20px;
  width: 122px;
  font-weight: bold;
  background-color: transparent;
  margin-left: 0px;
}

.headbtn1:hover, .headbtn2:hover, .headbtn3:hover {
  background-color: rgb(223, 231, 184);
}

.headbtn1 {
  margin-top: -40%;
  margin-bottom: 10%;
}

.page-title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}



.page-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
