<app-header></app-header>

<div class="sidebar open">
  <div class="logo-details">
    <i class='fa fa-bars'></i>
    <div class="logo_name"><img [src]="'assets/img/logo.png'" width="180" height="50"> </div>
    <i class='fa' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li [routerLink]="['/approveprofessor']">
      <a>
        <i class='fa fa-check-square'></i>
        <span class="links_name">Approval Status</span>
      </a>
      <span class="tooltip">Approval Status</span>
    </li>
    <li [routerLink]="['/addCourse']">
      <a>
        <i class='fa fa-cart-plus' ></i>
        <span class="links_name">Add Course</span>
      </a>
      <span class="tooltip">Add Course</span>
    </li>
    <li [routerLink]="['/addchapter']">
      <a>
        <i class='fa fa-book' ></i>
        <span class="links_name">Add Chapters</span>
      </a>
      <span class="tooltip">Add Chapters</span>
    </li>
    <li [routerLink]="['/mycourses']">
      <a>
        <i class='fa fa-graduation-cap' ></i>
        <span class="links_name">My Learning</span>
      </a>
      <span class="tooltip">My Learning</span>
    </li>
    <li [routerLink]="['/courselist']">
      <a>
        <i class='fa fa-list' ></i>
        <span class="links_name">Course List</span>
      </a>
      <span class="tooltip">Course List</span>
    </li>
    <li [routerLink]="['/mywishlist']">
      <a>
        <i class='fa fa-heart' ></i>
        <span class="links_name">My Wishlist</span>
      </a>
      <span class="tooltip">My Wishlist</span>
    </li>


    <li [routerLink]="['/editprofessorprofile']">
      <a>
        <i class='fa fa-edit'></i>
        <span class="links_name">Edit Profile</span>
      </a>
      <span class="tooltip">Edit Profile</span>
    </li>


    <!--     <li [routerLink]="['/professorlist']">-->
    <!--       <a>-->
    <!--         <i class='fa fa-user-o' ></i>-->
    <!--         <span class="links_name">Professors</span>-->
    <!--       </a>-->
    <!--       <span class="tooltip">Professors</span>-->
    <!--     </li>-->
    <li [routerLink]="['/userlist']">
      <a>
        <i class='fa fa-user' ></i>
        <span class="links_name">Learners</span>
      </a>
      <span class="tooltip">Learners</span>
    </li>
    <!--&lt;!&ndash;     <li style="align-content: center;" class="profile">&ndash;&gt;-->
    <!--         <div class="profile-details">-->
    <!--           <div class="name_job">-->
    <!--             <div style="align-content: center; font-weight: bolder;" class="name">{{loggedUser}}</div>-->
    <!--             <div class="job" style="align-content: center; font-weight: bolder;">Role : {{currRole}}</div>-->
    <!--           </div>-->
    <!--         </div>-->
    <!--         <i class='bx bx-log-out' id="log_out" ></i>-->
    <!--     </li>-->
  </ul>
</div>
<div class="row" id="profilecard">
  <div *ngFor="let professor of profileDetails | async" id="bloodCards">
    <span style="font-weight: 300;font-size: 1.5rem">Your</span>  <span style="font-size: 2rem">
      Profile
    </span>
    <!--      <p><span style="font-weight: 300;font-size: 1.2rem">Your Profile</span></p>-->
    <!--        <a><img *ngIf="professor.gender === 'Male' || professor.gender === 'male'" class="bloodimg" [src]="'assets/img/users/teacher_male.png'" width="140" height="140"></a>-->
    <!--        <a><img *ngIf="professor.gender === 'Female' || professor.gender === 'female'" class="bloodimg" [src]="'assets/img/users/teacher.png'" width="140" height="140"></a>-->
    <div style="display: flex">
      <div class="our-team">
        <div class="picture">
          <img *ngIf="professor.gender === 'Male' || professor.gender === 'male'" class="bloodimg" [src]="'assets/img/users/teacher_male.png'" width="140" height="140">
          <img *ngIf="professor.gender === 'Female' || professor.gender === 'female'" class="bloodimg" [src]="'assets/img/users/teacher.png'" width="140" height="140">
        </div>
        <h1 style="font-size: 2rem">{{professor.professorname}}</h1>
      </div>
      <div class="card-block information">
        <h2 class="title" style="display: flex;align-items: center">
              <span style="display:inline-block;width:auto;font-weight:300;margin-right:24px;background-color: #eeeeee;padding: 4px 16px;line-height: 2;border-radius: 8px">
                Email
              </span>
          <span style="font-family: Raleway;font-weight: bold;font-size: 1.2rem">
                 {{professor.email}}
              </span>
        </h2>
        <h2 class="title" style="display: flex;align-items: center">
              <span style="display:inline-block;width:auto;font-weight:300;margin-right:24px;background-color: #eeeeee;padding: 4px 16px;line-height: 2;border-radius: 8px">
                Phone No
              </span>
          <span style="font-family: Raleway;font-weight: bold;font-size: 1.2rem">
                 +91 {{professor.mobile}}
              </span>
        </h2>
        <h2 class="title" style="display: flex;align-items: center">
              <span style="display:inline-block;width:auto;font-weight:300;margin-right:24px;background-color: #eeeeee;padding: 4px 16px;line-height: 2;border-radius: 8px">
                Degree
              </span>
          <span style="font-family: Raleway;font-weight: bold;font-size: 1.2rem">
                {{professor.degreecompleted}}
              </span>
        </h2>
        <h2 class="title" style="display: flex;align-items: center">
              <span style="display:inline-block;width:auto;font-weight:300;margin-right:24px;background-color: #eeeeee;padding: 4px 16px;line-height: 2;border-radius: 8px">
                Experience
              </span>
          <span style="font-family: Raleway;font-weight: bold;font-size: 1.2rem">
                {{professor.experience}} Yrs
              </span>
        </h2>

        <h2 class="title" style="display: flex;align-items: center">
              <span style="display:inline-block;width:auto;font-weight:300;margin-right:24px;background-color: #eeeeee;padding: 4px 16px;line-height: 2;border-radius: 8px">
                Institution
              </span>
          <span style="font-family: Raleway;font-weight: bold;font-size: 1.2rem">
                 {{professor.institutionname}}
              </span>
        </h2>



        <div class="btndiv" style="align-items: center;"><button class="editbtn" (click)="editProfile()"> Edit Profile <i class="fa fa-edit"></i></button></div>
        <small id="message" *ngIf="temp === true" style="text-align: center; margin-top: 3%; color: green;"><b>Profile Updated Successfully !!!</b></small>
      </div>
    </div>
  </div>
</div>

<div class="container register" id="profileform">
  <div class="row">
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="textual">Update Professor Profile</h3>
          <small *ngIf="temp === false" style="font-weight: bold; margin-left: 25%; text-align: center; color: darkgreen;"><b>Dear {{loggedUser}}, update your profile here</b></small>
          <small *ngIf="temp === true" style="text-align: center; color: green;"><b>Profile Updated Successfully !!!</b></small>
          <form #Updateform="ngForm" style="margin-top: -15%;" (ngSubmit)="updateProfessorProfile()">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Professor Name *" name="professorname" [(ngModel)]="professor.professorname" required
                         #professorname="ngModel"
                         [class.is-invalid]="professorname.invalid && professorname.touched">
                  <small class="text-danger" [class.d-none]="professorname.valid || professorname.untouched"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="email address *" name="professoremail" [(ngModel)]="professor.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                         #professoremail="ngModel"
                         [class.is-invalid]="professoremail.invalid && professoremail.touched">
                  <div *ngIf="professoremail.errors && (professoremail.invalid && professoremail.touched)">
                    <small class="text-danger" *ngIf="professoremail.errors.required"><b>required field</b></small>
                    <small class="text-danger" *ngIf="professoremail.errors.pattern"><b>Invalid email Id</b></small>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="gender *" name="professorgender" [(ngModel)]="professor.gender" required
                         #professorgender="ngModel"
                         [class.is-invalid]="professorgender.invalid && professorgender.touched">
                  <small class="text-danger" [class.d-none]="professorgender.valid || professorgender.untouched"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input type="tel" maxlength="10" minlength="10" class="form-control" placeholder="mobile *" name="professormobile" [(ngModel)]="professor.mobile" required
                         #professormobile="ngModel"
                         [class.is-invalid]="professormobile.invalid && professormobile.touched">
                  <small class="text-danger" [class.d-none]="professormobile.valid || professormobile.untouched"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="password *" name="pwd" [(ngModel)]="professor.password" required
                         #professorpassword="ngModel"
                         [class.is-invalid]="professorpassword.invalid && professorpassword.touched">
                  <div *ngIf="professorpassword.errors && professorpassword.invalid && professorpassword.touched">
                    <small class="text-danger" *ngIf="professorpassword.errors.required"><b>required field</b></small>
                  </div>
                  <small style="color: gray; font-size: 10px;">atleast one uppercase, numeric digit, lowercase, special character, length of 6-20</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Institution name *" name="institutionname" [(ngModel)]="professor.institutionname" required
                         #institutionname="ngModel"
                         [class.is-invalid]="institutionname.invalid && institutionname.touched">
                  <small class="text-danger" [class.d-none]="institutionname.valid || institutionname.untouched"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="department *" name="department" [(ngModel)]="professor.department" required
                         #department="ngModel"
                         [class.is-invalid]="department.invalid && department.touched">
                  <small class="text-danger" [class.d-none]="department.valid || department.untouched"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input type="number" class="form-control" placeholder="year of experience *" name="experience" [(ngModel)]="professor.experience" required
                         #experience="ngModel"
                         [class.is-invalid]="experience.invalid && experience.touched">
                  <small class="text-danger" [class.d-none]="experience.valid || experience.untouched"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Degrees completed *" name="degreecompleted" [(ngModel)]="professor.degreecompleted" required
                         #degreecompleted="ngModel"
                         [class.is-invalid]="degreecompleted.invalid && degreecompleted.touched">
                  <small class="text-danger" [class.d-none]="degreecompleted.valid || degreecompleted.untouched"><b>required field</b></small>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="confirm password *" name="ConfirmPassword" (ngModel)="professor.password" required
                         #professorconfirmPassword="ngModel"
                         [class.is-invalid]="professorconfirmPassword.invalid && professorconfirmPassword.touched">
                  <small class="text-danger" [class.d-none]="(professorconfirmPassword.value == professorpassword.value) || professorconfirmPassword.untouched"><b>password not matched</b></small>
                </div>
              </div>
            </div>
            <button [disabled]="Updateform.form.invalid" type="submit" class="btn registerbtn">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

