<app-header></app-header>

<div class="sidebar open">
  <div class="logo-details">
    <i class='fa fa-bars'></i>
    <div class="logo_name"><img [src]="'assets/img/logo.png'" width="180" height="50"> </div>
    <i class='fa' id="btn" ></i>
  </div>
  <ul class="nav-list">
    <li [routerLink]="['/approveprofessor']">
      <a>
        <i class='fa fa-check-square'></i>
        <span class="links_name">Approval Status</span>
      </a>
      <span class="tooltip">Approval Status</span>
    </li>
    <li [routerLink]="['/addCourse']">
      <a>
        <i class='fa fa-cart-plus' ></i>
        <span class="links_name">Add Course</span>
      </a>
      <span class="tooltip">Add Course</span>
    </li>
    <li [routerLink]="['/addchapter']">
      <a>
        <i class='fa fa-book' ></i>
        <span class="links_name">Add Chapters</span>
      </a>
      <span class="tooltip">Add Chapters</span>
    </li>
    <li [routerLink]="['/mycourses']">
      <a>
        <i class='fa fa-graduation-cap' ></i>
        <span class="links_name">My Learning</span>
      </a>
      <span class="tooltip">My Learning</span>
    </li>
    <li [routerLink]="['/courselist']">
      <a>
        <i class='fa fa-list' ></i>
        <span class="links_name">Course List</span>
      </a>
      <span class="tooltip">Course List</span>
    </li>
    <li [routerLink]="['/mywishlist']">
      <a>
        <i class='fa fa-heart' ></i>
        <span class="links_name">My Wishlist</span>
      </a>
      <span class="tooltip">My Wishlist</span>
    </li>


    <li [routerLink]="['/editprofessorprofile']">
      <a>
        <i class='fa fa-edit'></i>
        <span class="links_name">Edit Profile</span>
      </a>
      <span class="tooltip">Edit Profile</span>
    </li>


    <!--     <li [routerLink]="['/professorlist']">-->
    <!--       <a>-->
    <!--         <i class='fa fa-user-o' ></i>-->
    <!--         <span class="links_name">Professors</span>-->
    <!--       </a>-->
    <!--       <span class="tooltip">Professors</span>-->
    <!--     </li>-->
    <li [routerLink]="['/userlist']">
      <a>
        <i class='fa fa-user' ></i>
        <span class="links_name">Learners</span>
      </a>
      <span class="tooltip">Learners</span>
    </li>
    <!--&lt;!&ndash;     <li style="align-content: center;" class="profile">&ndash;&gt;-->
    <!--         <div class="profile-details">-->
    <!--           <div class="name_job">-->
    <!--             <div style="align-content: center; font-weight: bolder;" class="name">{{loggedUser}}</div>-->
    <!--             <div class="job" style="align-content: center; font-weight: bolder;">Role : {{currRole}}</div>-->
    <!--           </div>-->
    <!--         </div>-->
    <!--         <i class='bx bx-log-out' id="log_out" ></i>-->
    <!--     </li>-->
  </ul>
</div>

<div class="panel panel-primary" id="professorapproval">
  <div class="panel-heading">
    <h2 *ngIf="currRole === 'professor' || currRole === 'PROFESSOR'" style="color: #1a1a1a; margin-bottom: 4%;">
      <div *ngFor="let professor of approval | async">
        <span style="font-weight: 300;font-size: 1.5rem">Welcome,</span>  {{professor.professorname}}
        <p><span style="font-weight: 300;font-size: 1.2rem">Your Approval Status</span></p>
        <article class="information [ card ]">
          <div>
              <span  style="display: flex;align-items: center;justify-content: flex-start" class="tag" *ngIf="professor.status === 'accept'">
              <span>
                Verified & Accepted
              </span>
               <div class="badge">
                <div class="badge__label">
                  <i class="fa fa-check"></i>
                </div>
              </div>
            </span>

          </div>
          <h2 class="title" style="display: flex;align-items: center">
              <span style="display:inline-block;width:120px;font-weight:300;margin-right:24px;background-color: #eeeeee;padding: 4px 16px;line-height: 2;border-radius: 8px">
                Degree & Experience
              </span>
            <span style="font-family: Raleway;font-weight: bold;font-size: 1.2rem">
                {{professor.degreecompleted}} with {{professor.experience}} yrs
              </span>
          </h2>
          <h2 class="title" style="display: flex;align-items: center">
              <span style="display:inline-block;width:120px;font-weight:300;margin-right:24px;background-color: #eeeeee;padding: 4px 16px;line-height: 2;border-radius: 8px">
                Email
              </span>
            <span style="font-family: Raleway;font-weight: bold;font-size: 1.2rem">
                {{professor.email}}
              </span>
          </h2>
          <h2 class="title" style="display: flex;align-items: center">
              <span style="display:inline-block;width:120px;font-weight:300;margin-right:24px;background-color: #eeeeee;padding: 4px 16px;line-height: 2;border-radius: 8px">
                Phone
              </span>
            <span style="font-family: Raleway;font-weight: bold;font-size: 1.2rem">
                {{professor.mobile}}
              </span>
          </h2>

          <button class="button" [routerLink]="['/editprofessorprofile']">
            <a>View Profile</a>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
            </svg>
          </button>
        </article>

      </div>
    </h2>
  </div>

</div>

<div class="panel panel-primary" id="adminapproval">
  <div class="panel-heading">
    <h2 *ngIf="currRole === 'admin' || currRole === 'ADMIN'" style="text-align: center; font-family: 'Oswald', sans-serif;color: darkgreen; margin-top: 3%; margin-bottom: 3%;"> Approve Professor Here
    </h2>
  </div>
  <div class="panel-body">
    <table cass="table table-bordered">
      <thead>
      <tr>
        <th>Idendity</th>
        <th>Name</th>
        <th>Email</th>
        <th>Degree</th>
        <th>Experience</th>
        <th>Instituion</th>
        <th>Department</th>
        <th>mobile</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let professor of professorlist | async">
        <td><img *ngIf="professor.gender === 'Male' || professor.gender === 'male'" class="bloodimg" [src]="'assets/img/maleprofessor.png'" width="80" height="80">
          <img *ngIf="professor.gender === 'Female' || professor.gender === 'female'" class="bloodimg" [src]="'assets/img/femaleprofessor.png'" width="80" height="80">
        </td>
        <td>{{professor.professorname}}</td>
        <td>{{professor.email}}</td>
        <td>{{professor.degreecompleted}}</td>
        <td>{{professor.experience}} years</td>
        <td>{{professor.institutionname}} </td>
        <td>{{professor.department}}</td>
        <td>{{professor.mobile}}</td>
        <td>
          <div *ngIf="loggedUser === 'admin@gmail.com' && professor.status === 'false'" >
            <button (click)="acceptRequest(professor.email)" id="acceptbtn" value="professor.email" value="Accept" style="margin-bottom: 5px;" class="accepted">Accept</button><br>
            <button (click)="rejectRequest(professor.email)" id="rejectbtn" value="professor.email" value="Reject" class="rejected">Reject</button>
            <div id="acceptedbtn" class="accepted" style="display: none;">Accepted</div>
            <div id="rejectedbtn" class="rejected" style="display: none;">Rejected</div>
          </div>
          <div *ngIf="loggedUser === 'admin@gmail.com' && professor.status === 'accept'" >
            <div class="accepted">Accepted</div>
          </div>
          <div *ngIf="loggedUser === 'admin@gmail.com' && professor.status === 'reject'" >
            <div class="rejected">Rejected</div>
          </div>
          <div *ngFor="let details of responses | async"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

